%section.header
  .wrapper
    %h2 Questions
    %p
      Below is a list of every question you've ever recieved. You should have
      seen all of these already, as they were sent to your email address. Just
      in case, however, you can also view them here.

%section.content
  .wrapper
    = will_paginate @questions
    = render 'partials/search_form', search_path: search_questions_path
    %ol= render @questions
    = will_paginate @questions

:javascript
  window.search = new Search('#search')
