* {
  margin: 0px;
  padding: 0px;
  color: #f1eee5;
  list-style: none;
}

html {
  font-size: 16px;
  background-color: #191919;
  border-top: 7px solid #000;
}

body {
  overflow: auto;
  font-size: 62.5%;
  border-top: 1px solid #3f817c;
  background: #2b5956 url(../images/body-background.jpg) no-repeat center -8px;
}

.stitched-border {
  width: 100%;
  padding: 16px 0px 0px;
  background: #191919 url(../images/footer-border.jpg) repeat-x 0px 0px;
}

.wrapper {
  width: 940px;
  overflow: hidden;
  margin: 30px auto 0px;
}

header {
  height: 38px;
}

header h1 {
  font-size: 1.0em;
  overflow: hidden;
}

header h1 a {
  float: left;
  display: block;
  font-size: 3.2em;
  text-decoration: none;
  text-shadow: #1f403e 1px 1px 3px;
  font-family: "chaparral-pro", sans-serif;
}

header h1 aside {
  float: left;
  color: #a4dbd5;
  display: block;
  font-size: 1.3em;
  font-weight: 400;
  font-style: italic;
  padding-left: 10px;
  margin: 11px 0 0 5px;
  text-shadow: #1f403e -1px -1px 0px;
  font-family: "freight-text-pro", serif;
}

section {
  width: 100%;
  margin-top: 50px;
  overflow: hidden;
  padding-bottom: 150px;
}

section h2 {
  width: 73%;
  float: left;
  font-size: 2.6em;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-shadow: #1f403e 1px 1px 3px;
  font-family: "freight-text-pro", serif;
}

section .image {
  float: left;
  width: 150px;
  height: 250px;
  margin-right: 4%;
  overflow: hidden;
  border: 10px solid #f1eee5;
  -moz-box-shadow: #1f403e 1px 2px 5px;
  -webkit-box-shadow: #1f403e 1px 2px 5px;
  box-shadow: #1f403e 1px 2px 4px; // comments
}

section .image img { height: 260px; }
section p {
  width: 73%;
  float: left;
  color: #badbd7;
  font-size: 1.8em;
  font-weight: 100;
  margin-bottom: 10px;
  text-shadow: #1f403e 1px 1px 0px;
  font-family: "museo-sans", sans-serif;
}

section p a { color: #a4dbd5; }
footer {
  overflow: hidden;
  padding: 0px 0px 15px;
  background: #191919 url(../images/footer-background.jpg) repeat-x 0px 0px;
}

footer .wrapper { margin: 10px auto 0px; }
footer .image {
  float: right;
  width: 90px;
  height: 100px;
  display: block;
  overflow: hidden;
  border: 7px solid #f1eee5;
  box-shadow: #000 1px 2px 4px;
  -moz-box-shadow: #000 1px 2px 5px;
  -webkit-box-shadow: #000 1px 2px 5px;
}

footer .image img { height: 135px; }
footer p {
  width: 75%;
  float: right;
  font-size: 1.4em;
  font-weight: 300;
  text-align: right;
  margin: 0 3% 7px 0;
  line-height: 1.5em;
  padding-right: 25px;
  text-shadow: #000 1px 1px 0px;
  font-family: "museo-sans", sans-serif;
}

footer p.map { background: url(../images/icon-map.png) no-repeat right center; }
footer p.phone { background: url(../images/icon-phone.png) no-repeat right center; }
footer p.email { background: url(../images/icon-email.png) no-repeat right center; }
footer p.facebook { background: url(../images/icon-facebook.png) no-repeat right center; }

@media screen and (max-width: 980px) {
  .wrapper { width: 95%; }
}

@media screen and (max-width: 780px) {
  section .image {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
  }

  section .image { display: none; }
  section p, section h2 { width: 100%; }

}

@media screen and (max-width: 615px) {
  footer .image { display: none; }
  footer p { width: 90%; }
}

@media screen and (max-width: 427px) {
  header h1 aside { display: none; }
  section {
    padding: 0px;
    margin: 20px 0;
  }
}


