%section.header
  .wrapper
    %h2 Editing Article

%section.content.edit
  .wrapper
    %p.back= link_to '‹‹ Go back', category_articles_path(@article.category)
    = render 'form'
    = render 'partials/markdown_legend'
