%section.legend
  %h1 Helpful Hints
  %p You can use the following to help make your content a bit easier to read.
  %p # This is a main title
  %p ## This is a subtitle
  %p 1. This is a numbered list item
  %p *&nbsp;&nbsp;This is a bulleted list item
  %p *This text will be italic*
  %p **This text will be bold**