form
  padding: 2em
  background: hsl(215, 17%, 92%)
  border: 1px solid hsl(215, 17%, 87%)
  +border-radius(3px)

  .two-column li
    width: 48%
    float: left
    margin-right: 4%

    &:nth-of-type(even)
      margin-right: 0

  .three-column li
    width: 31%
    float: left
    margin-right: 3.5%

    &:nth-of-type(3n)
      margin-right: 0

  li
    width: 100%
    margin-bottom: 2.5em

    &.action
      margin-bottom: 0

    label
      display: block
      margin-bottom: 0.46667em
      width: 100%
      color: #333
      font-size: 1.5em
      font-weight: 700

    textarea
      resize: vertical

    input, textarea
      display: block
      max-width: 100%
      padding: 0.66667em
      width: 100%
      background: hsl(215, 17%, 97%)
      border: 1px solid hsl(215, 17%, 87%)
      color: #333
      font-size: 1.5em
      line-height: 1.7em
      +italic-placeholders()

      &:focus
        background: #fff
        outline: none

      &.error
        border: 1px solid hsl(15, 87%, 50%)

      &[type=submit]
        +buttonify(saturate($theme, 25%), shade($theme, 15%))

form.multi-step
  div[class*=step]
    display: none
    height: 175px

    &.step-1
      display: block

form#search
  float: none
  width: 100%
  margin-bottom: 2em
  padding: 0
  background: none
  border: none
  +border-radius(none)

  &:after
    clear: both
    content: ''
    display: block

  input
    float: right
    display: block
    width: 7.5em
    height: 3.134em
    background: hsl(215, 17%, 100%)
    color: #333
    font-size: 1.6em
    +italic-placeholders()
    +single-transition(width, 300ms, ease-out)

    &:focus
      outline: none

.select2-search
  display: none

.select2-results .select2-result-label
  padding: 0.5em
  color: #333
  font-size: 1.5em
  font-weight: 500

.select2-results .select2-highlighted .select2-result-label
  color: $white

.content form .select2-container
  width: 100%

  a
    height: 4.7em
    padding-left: 1em
    line-height: 4.7em

    &:hover, &:focus
      text-decoration: none

    span
      color: #333
      font-size: 1.6em
      font-weight: 500

  .select2-choice div b
    background-position: 0 1em
