form
  padding: 2em
  background: hsl(215, 17%, 92%)
  border: 1px solid hsl(215, 17%, 87%)
  +border-radius(3px)

  .two-column li
    width: 48%
    float: left
    margin-right: 4%

    &:nth-of-type(even)
      margin-right: 0

  .three-column li
    width: 31%
    float: left
    margin-right: 3.5%

    &:nth-of-type(3n)
      margin-right: 0

  li
    width: 100%
    margin-bottom: 2.5em

    &.action
      margin-bottom: 0

    label
      display: block
      margin-bottom: 0.46667em
      width: 100%
      color: #333
      font-size: 1.5em
      font-weight: 700

    input, textarea
      display: block
      max-width: 100%
      padding: 0.66667em
      width: 100%
      background: hsl(215, 17%, 97%)
      border: 1px solid hsl(215, 17%, 87%)
      color: #333
      font-size: 1.5em
      line-height: 1.7em
      resize: none
      +italic-placeholders()

      &:focus
        background: #fff
        outline: none

      &[type=submit]
        +buttonify(saturate($theme, 25%), shade($theme, 15%))

form.multi-step
  div[class*=step]
    display: none
    height: 175px

    &.step-1
      display: block

