// Colors
$white:     #f6f5f0
$off-white: #e7e3dc
$grey:      #9a9a9a
$dark-grey: #191919

// Theme options
$teal:   #337069
$blue:   #24415f
$red:    #94322f
$green:  #557822
$brown:  #494340
$orange: #a85123

// Chosen theme color
$theme: $blue

// Theme specific colors
$theme-copy:      saturate(tint($theme, 60%), 15%)
$theme-shadow:    shade($theme, 40%)
$theme-dark-grey: darken(desaturate($theme, 100%), 22%)
$theme-highlight: lighten($theme, 7%)
$theme-off-white: lighten(desaturate($theme, 60%), 60%)

