%article.answer
  %h1
    = answer.question

  .markdown
    %p= redcarpet truncate answer.content, length: 400
    %p.read-more= link_to 'Read more ››', category_answer_path(answer.category, answer)
