%section.header
  .wrapper
    %h2 Edit Question/Answer

%section.content.edit
  .wrapper
    %p.back= link_to '‹‹ Go back', category_answers_path(@answer.category)
    = render 'form'
    = render 'partials/markdown_legend'
