%section.header
  .wrapper
    %h2 About Dr. Nicoll

%section.content
  .wrapper
    = image_tag 'family.jpg'

    %p
      Dr. Nicoll lives in Tulsa, Oklahoma and practices medicine at St. Francis
      South. Before going back to school to become a doctor, he lived in Kansas
      City, Missouri, as a banker. Before that he had his humble beginnings as a
      Janitor. It was there, at age 20, that he met his wife Jill at a local
      church. They have been married since 1977 and have a wonderful marriage
      built on Christ. They have been attending The Assembly of Broken Arrow since
      2003.

    %p
      When Dan isn&rsquo;t working at St. Francis or putting in extra hours at
      other hospitals, he enjoys spending time with his three children, and six
      granchildren. Aside from the occasional scuba diving trip, or hunting
      excursion, he has also done medical missions work in Africa, Philippines,
      China, Haiti, and Mexico.

    %p
      Dr. Nicoll is currently located at St. Francis South. Previously he
      practiced at SouthCrest for nine years, where he also served as Chief of
      Staff. Before that, he practiced in Poteau, Oklahoma for four years after
      leaving Kansas City, Missouri, where he started his career in 1992. Dr.
      Nicoll practices family medicine but also specializes in women&rsquo;s
      health and obstetrics. He is board-certified in Family Medicine and see
      babies, children, and adults of all ages.

    %p
      He also has a specialty clinic in Wagoner, Oklahoma next to the Wagoner
      Community Hospital. This clinic provides obstetric and gynecology services
      to the residents of Wagoner county on every Tuesday afternoon.
