%section.header
  .wrapper
    %h2 About Dr. Dan Nicoll

%section.content
  .wrapper
    %p Dr. Nicoll lives in Tulsa, Oklahoma. He practices medicine at St. Francis South and before that he lived in KC, Missouri and did accounting. Before that he had his humble beginnings as a Janitor at blah blah middle school. It was there at age 23 that he met his wife Jill at a local church. They have been together for nearly 30 years and have a wonderful marriage built on Christ.

    %p When Dan isn't working at St. Francis or doing extra hours at South Crest or Woodward he enjoys diving with his family or hunting with his sons. 

    %p Dr. Nicoll is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics.

    = image_tag 'DanDivingII.JPG', width: 500
    = image_tag 'DanDiving.JPG', width: 500
