%section.header
  .wrapper
    %div.about

      %h2 About Dr. Dan Nicoll

      %p Dr. Nicoll is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics. Dr. Nicoll is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics. 

      %img
        = image_tag 'DanDivingII.JPG', width: 500

      %img
        = image_tag 'DanDiving.JPG', width: 500

      %p Dr. Nicoll is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics. Dr. Nicoll is currently located at St. Francis South. Previously he was practicing at South Crest for nine years and has been in the field since 1992. Dr. Nicoll practices family medicine but also specializes in women's health and obstetrics. 
        