!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type' }
    :css
      html { background: #fff; }
      body {
        padding: 10px 20px;
        background: #fff;
        border: 10px solid #e7e3dc;
        font: 14px Helvetica, Arial, sans-serif;
      }
      .message { line-height: 1.5em; }

  %body
    %p.message= @question.message
    %br
    %br
    %p --
    %p Thank you for your time,
    %p= @question.name
