You've just been asked a question on your website.
===============================================================================

Name: #{@question.name}
Email Address: #{@question.email}
Question:
#{@question.message}

Feel free to email #{@question.name} back at your earliest convenience.


Sincerely,
cleverCode
