footer
  left: 0
  right: 0
  bottom: 0
  position: absolute
  height: 45.7em
  overflow: hidden
  font-size: 1em
  background: $theme-dark-grey image-url('footer-background.jpg') repeat 0 0

  .wrapper
    margin: 15px auto

  .blurb
    .portrait
      float: left
      width: 10%
      height: 100px

      img
        width: 100%

    p
      float: left
      width: 45%
      padding: 0 3em
      font-size: 1.8em

    p:first-child span
      font-weight: 700


  form
    width: 40%
    float: right
    padding-top: 30px

    li
      margin-bottom: 1em

    label
      display: none

    input, textarea
      padding: 0.3846em 0.66667em
      font-size: 1.3em

      &:focus
        background: #131313

      &[type=submit]
        +buttonify(#e5e5e5,#c5c5c5)
        +box-shadow(rgba(255,255,255,0.35) 0 1px 0 0 inset, rgba(0,0,0,0.15) 0 1px 0)
        color: $theme-dark-grey

        &:hover
          +box-shadow(white 0 1px 0 0 inset, rgba(255,255,255,0.15) 0 1px 0)

  p.pStyle
    padding-top: 30px
    font-size: 1.4em
    font-weight: 200
    line-height: 1.4em
    width: 50%

    span
      color: $grey

  .foot
    clear: both
    overflow: hidden
    background: black

    .wrapper
      margin: 2em auto

  p
    float: left
    color: $grey
    margin: 0
    font-size: 1.1em

    &.crafted
      float: right

    span
      color: $white

